html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color:  #272727;
}

body {
    font-family: "Helvetica Neue",sans-serif;
    font-weight: lighter;
}

header {
    width: 100%;
    height: 10vh;
    background-size: cover;
}

.content {
  
    width: 100%;
    margin:auto auto;
    font-size: 20px;
    line-height: 10px;
    text-align: justify;
}

.logo {
  
    line-height: 70px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: coral;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    letter-spacing: 2px;
    font-weight: bold;
}

nav {
    background-color:#f6f4ca;
    position: fixed;
    width: 100%;
    line-height: 60px;
}

nav ul {
    
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: coral;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.black ul {
    background: #000;
}

nav ul li {
    
    display: inline-block;
    padding: 16px 20px;;
}

nav ul li a {
    text-decoration: none;
    color:   #017a0d  ;
    font-size: 20px;
}
nav ul li a:hover{
    font-weight: bold;
    color:coral;
    transition-duration: 1ms;
   
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}
.message{
    margin :auto;
    text-align: center;
    width:20%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}


@media(max-width: 786px) {
   
    .logo {
          font-size: medium;
          position: fixed;
          top: 0;
          margin-top: 16px;
    }

    nav ul {
          max-height: 0px;
          background: #000;
    }

    nav.black ul {
          background: #000;
    }

    .showing {
         
          max-height: 34em;
    }

    nav ul li {
          box-sizing: border-box;
          width: 100%;
          padding: 24px;
          text-align: center;
    }

    .menu-icon {
          display: block;
    }
    .frm{
        width: 100%;
    }
}

.container {
    height: 100vh;
    background: transparent;
    width: 100%;
    margin: 0 auto;
    font-size: 24px;
}

.parallax-window {
    width: 100%;
    image-rendering: auto;
    min-height: 600px;
    
    border-image: 30 round;
}

.info {
    height: 50vh;
    color:  #07c1f3  ;
    z-index: 2;
    font-weight: bold;
    text-align: center;
    top: 250px;
    position: relative;
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.middle-text {
    color: azure;
    padding: 40px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 72px;
    color: beige;
}
.text {
    position: relative;
    top: 50px;
}

.foot   {
    display: flex;
    
    max-height: fit-content;
}
.text{
    
    text-align: center;
    color: white;
    flex-basis: 50%;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#join{
    border-right: 2px solid white;
}
.frm{
    
    margin: 5% auto;
    width: 40%;
    height: max-content;
    border: 2px solid grey;
    border-radius: 3px;
}
.frm-text p{
    font-size: 22px;
    font-family: sans-serif;
    text-decoration: none;
    color: white; 
}
.frm input[type=email],input[type=password],
input[type=text],input[type=number]{
    width:80%;
    font-size: 18px;
    font-family: sans-serif;
}
.frm > div{
    margin:10px;
    padding:10px;
}
.frm-text{
    margin: auto;
    width: 100%;
}
.frm > h2{
    margin:10px ;
    font-size: 30px;
    font-family: sans-serif;
    color: coral;
    text-decoration: none;
}
.frm input[type=submit]{
    font-size: 20px;
    font-family: sans-serif;
    transition-delay: 5ms ease ;
}
.frm input[type=submit]:hover{
    background-color: coral;
    color: cornsilk;
    cursor: pointer;
}
 .gen{
     width: max-content;
     color: cornflowerblue;
     font-size: 16px;
     font-family: sans-serif;
     margin: 5px;
    
 }
 .gen option{
     font-size: 16px;
     font-family: sans-serif;
     margin: 5px;
 }
 .gen option:hover{
     color: cornsilk;
     background-color: crimson;
     cursor: pointer;
 }