<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADD TASK</title>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
     <form  action="" method="post" >
            {% csrf_token %}
            <div class="form-group">
              <input type="text" class="form-control" name="title"  placeholder="Add Task">
            </div>
            <div class="form-group">
                <h5>Date</h5>
              <input type="date" class="form-control" name="task_date" value="Date">
            </div>

            <div class="form-group">
                <h5>Due Date</h5>
              <input type="date" class="form-control" name="due_date" value="Due Date">
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary" >ADD</button>
            </div>
          </form>

<div class="container">
  <h2>Daily Task To Be Completed</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Task Name</th>
        <th>Date </th>
        <th>Due Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          {% for i in task %}
        <td>{{i.task_name}}</td>
        <td>{{ i.Task_date}}</td>
        <td>{{ i.Due_date}}</td>
      </tr>
    {% endfor %}

    </tbody>
  </table>
      <div class="text-left">
          <button  class="btn btn-primary" >View Calories </button>
      </div>
</div>
</body>
</html>