<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
     <form  action="" method="post" >
            {% csrf_token %}
            <div class="form-group">
              <input type="text" class="form-control" name="title"  placeholder="Add Task">
            </div>
            <div class="form-group">
                <h5>Date</h5>
              <input type="date" class="form-control" name="task_date" value="Date">
            </div>

            <div class="form-group">
                <h5>Due Date</h5>
              <input type="date" class="form-control" name="due_date" value="Due Date">
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary" >ADD</button>
            </div>
          </form>
</body>
</html>