
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        HOME
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="{% static 'fit/home.css' %}">
    <script src="{% static 'fit/home.js' %}"></script>
    <script src="{% static 'fit/paralaxx.min.js' %}"></script>
</head>
<body>  

{% block nav %}
    <header>
        <nav>
            <div class="menu-icon">
                <i class="fa fa-bars fa-2x"></i>
            </div>
            <div class="logo">
                {% block heading %}
                   FITNESS FREAKS
                {% endblock heading %}
            </div>
            <div class="menu">
                <ul>
                {% block login %}
                    <li><a href="{% url 'fit:login' %}">LOGIN</a></li>
                {% endblock login %}
                {% block signup  %}
                     <li><a href="{% url 'fit:signup' %}">SIGNUP</a></li>
                {% endblock signup %}

                {% if user.is_authenticated %}
                    {% block logout %}
                        <li><a href="{% url 'fit:logout' %}">LOGOUT</a></li>
                    {% endblock logout %}  
                {% endif %}      
                
                </ul>
            </div>
        </nav>
    </header>
{% endblock nav %}
{% block main %}

    <div class="container">
        <p class="middle-text">
            WORK HARD
        </p>
        <div class="parallax-window" data-parallax="scroll" data-z-index="1" data-image-src="{% static 'fit/active-young-woman-training-outdoor.jpg' %}">
            <p class="info">
                PASSION
            </p>
        </div>
        <p class="middle-text">
            YOU HAVE IT IN YOU
        </p>
        <div class="parallax-window" data-parallax="scroll" data-z-index="1" data-image-src="{% static 'fit/sports-731506_1920.jpg' %}">
            <p class="info">
                EXERCISE
            </p>
        </div>
        <p class="middle-text">
            RUN FARTHER, RUN BETTER
        </p>
        <div class="parallax-window" data-parallax="scroll" data-z-index="1" data-image-src="{% static 'fit/strong-man-training-gym.jpg' %}">
            <p class="info">
                IGNITE YOUR INNER POTENTIAL 
            </p>
        </div>
        <p class="middle-text">
            SHAPE YOUR BODY, SHAPE YOUR LIFE
        </p>
        <div class="parallax-window" data-parallax="scroll" data-z-index="1" data-image-src="{% static 'fit/fitness-elements-with-space-top.jpg' %}">
            <p class="info">
                DREAM
            </p>
        </div>
        <p class="middle-text">
            ALL PROGRESS TAKES PLACE OUTSIDE YOUR COMFORT ZONE
        </p>
        <div class="parallax-window" data-parallax="scroll" data-z-index="1" data-image-src="{% static 'fit/yoga-2587066_1920.jpg' %}">
            <p class="info">
                JOIN TO TRANSFORM
           </p>
    </div>
    {% endblock main %}
    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>
</body>
<footer>
<hr>
    <div class="foot">
        <div class="text" id="join">
           <p>JOIN US</p>
        </div>
        <div class="text">
            <h4>Made By</h4>
            <p>ManojKumar</p>
            <p>Sumedha</p>
        </div>
    </div>
</footer>
</html> 
