
{% extends './home.html' %}

{% block title %}
        LOGIN
{% endblock title %}

{% block login %}
{% endblock login %}

{% block main %}
{% endblock main %}

{% block content %}
    <form method="post" class="frm" action="{% url 'fit:login_post' %}">
        {% csrf_token %}
        <div class="frm-text">
            <p>Email</p>
            <input type="text" name="username" id="username" placeholder="Username">
        </div>
        <div class="frm-text">
            <p>Password</p>
            <input type="password" name="pass" id="pass" placeholder="Enter your password">
        </div>
        <div id="button">
            <input type="submit" value="LOGIN">
        </div>
    </form>
{% endblock content %}